

<div class="container">
  <div class="row">
      <div class="col-lg-12">
          <br>
          <div class="billing-frm blkcontent">
              <h1 class="hd-title"><span>Billing</span></h1>
              <p>By proceeding, your credit card will be charged <b>$1</b> for your visit.</p>
              <hr>
              <div class="well">
                    <form id="paymentForm"
                    method="POST"
                    action="" #paymentForm="ngForm">
                    <input type="text" name="cardNumber" id="cardNumber" placeholder="cardNumber" ngModel/> <br><br>
                    <input type="text" name="expMonth" id="expMonth" placeholder="expMonth" ngModel/> <br><br>
                    <input type="text" name="expYear" id="expYear" placeholder="expYear" ngModel/> <br><br>
                    <input type="text" name="cardCode" id="cardCode" placeholder="cardCode" ngModel/> <br><br>
                    <input type="text" name="accountNumber" id="accountNumber" placeholder="accountNumber" ngModel/> <br><br>
                    <input type="text" name="routingNumber" id="routingNumber" placeholder="routingNumber" ngModel/> <br><br>
                    <input type="text" name="nameOnAccount" id="nameOnAccount" placeholder="nameOnAccount" ngModel/> <br><br>
                    <input type="text" name="accountType" id="accountType" placeholder="accountType" ngModel/> <br><br>
                    <input type="hidden" name="dataValue" id="dataValue" />
                    <input type="hidden" name="dataDescriptor" id="dataDescriptor" />
                    <button type="button" (click)="paymentform()">Pay</button>       
                </form>
              </div>
              <p class="text-center">Your credit card information is sent through our secure payment processor, and is not stored in our system</p>
              <div class="help text-right">
                  Asterisk (*) indicates a required field1
              </div>
          </div>
      </div>
  </div>
</div>